/*General*/

* {
    margin: 0;
    padding: 0;
}
/*body*/
.container {
}

/*navigation*/
nav {
    background: url("img/bg-header.png");
    width: 100%;
    height:202px;
}

li {
    color: white;
    padding: 15px 80px;
    font-family: sans-serif;
    text-decoration: none;

}
.linknav {
    text-decoration: none;
    color: white;
}

nav .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    background-color: red;
    background: url("img/sprite.png");
    background-position: -1px 0;
    width: 40px;
    height: 69px;

}

nav a {
    transition: all .2s ease-in;
}

nav a:hover {
    color: red;
    text-decoration: none;
}


.logo {
    width: 100%;
}

.twitterbird {
    position: absolute;
    top: 0;
    right: 0;
    background: url(img/sprite.png);
    background-position: -43px 3px;
    width: 27px;
    height: 21px;
    margin-right: 10px;
}
/*header*/
header {
    background:url(img/bg-home.jpg);
    font-family: sans-serif;
    width: 100%;
    color:white;
    height: 300px;
    border-bottom: 1px solid black;

}

.title {
    width: 280px;
    position: relative;
    top: 40px;
    left: 0;
    /*margin-left: 35px;*/

}

.title {
    width: 100%;
    height: auto;
}

.title img{
   width:100%;
    height: auto;
}
.about {
    margin-top: 120px;
    padding-left: 20px;
}
/*features*/
.features {
width: 100%;
height: 215px;
border-bottom: 1px solid black;
background-color: #f9f5e8;
font-family: sans-serif;
padding-top: 30px;
}
.pic {
    visibility: hidden;
}
.subtitle {
    padding-top: 10px;
    font-weight: normal;
    padding-left: 20px;
    padding-bottom: 5px;
    width: 100%;
}
strong {
    font-weight: bold;
}
.content {
    padding-left: 18px;
}
.linkcontent {
    color: darkred;
    text-decoration: none;
    padding-left: 20px;
}
.linktext {
    padding-top: 10px;
    padding-left: 20px;
}
a:hover {
    text-decoration: underline;
}
.arrow-up {
    width: 1px;
    height: 60px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #f9f5e8;
}

/*youlove*/

.youlove {
    height: 67px;
    width: 100%;
    background-color: darkred;
}
.lovecontent {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding-top: 25px;
    color: white;
}
/*FOOTER*/
.footer {
    width: 100%;
    height: 825px;
    background: url(img/bg-footer.jpg);
    text-align: center;
}
.mailchimp {

    width: 45%;
    padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.hoefler{
    width: 45%;
    padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.engine {
     width: 45%;
     padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.etsy {
     width: 45%;
     padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.type {
    width: 45%;
    padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.ridge {
     width: 45%;
     padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.designer {
    width: 45%;
    padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.facebook {
     width: 45%;
    padding-top: 10px;
    padding-left: 10px;
    height: 13%;
    display: inline-block;
}
.dropbox {
    width: 45%;
    padding-top: 10px;
    height: 13%;
    display: inline-block;
}

.kin {
    background: url("img/sprite.png");
    width: 60%;
    padding-top: 10px;
    height: 13%;
    margin-top: 70px;
    display: inline-block;
    background-position: 0 -90px;
    width: 314px;
    height: 36.3px;
}
.copyright {
    color: gray;
    margin-top: 40px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}
/*RESPONSIVE*/

@media screen and (min-width: 600px) {
    nav {
        height: 50px;
    }
    nav ul li {
        display: inline;
        word-spacing:10px;
    }
    .features {
        float: right;
    }

 @media screen and (min-width: 960px) {
    nav {
        height: 50px;
    }
    nav ul li {
        display: inline;
    }
    .title img {
        display:block;
        width:960px;
        height: auto;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
    }
@media screen and (max-width: 770px) {

    .pic {
            display: inline;
        }

}


