/*GENERAL*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F6E7;
}
/*NAVBAR*/
.navbar ul li {

    display: inline-block;

}

.twitter {
    float: right;
}
/*HEADER*/
.header {
    background-image: url(img/bg-home.jpg);
    width: 100%;

}

.mainlogo {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 100px;
    padding-bottom: 20px
}

.discription {
    font-size: 20px;
    color:white;
         width: 600px;
    margin: 0 auto;
}

.logocontainer {
    width: 960px;
    margin:0 auto;
}

/*MAINCONTENT*/

.container {
    width: 960px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding: 20px 0;
}

.container p {
    font-size:23px;
}

.makesomethingyoulove {
    width: 100%;

    color: white;
    background-color: darkred;

}

.makesomethingyoulovetext {
    margin: 0 0 0 300px;
    width: 400px;
    padding: 20px 0;
    font-size: 30px;
}


.section-pic {
    float: right;
}

.conference13 {
    height: 250px;
    transition: all 900ms ease-in;
}

.conference13:hover {
    background-color: lime;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.cc {
    padding-top: 20px;
}

.summercamp {
    height:250px;
}

.comingsoon {
    height:250px;
}

/*FOOTER*/

footer {
    background-color: darkgray;
    padding: 30px;
}

.pic {
    height: 150px;
    width: 300px;
    background-color: black;
    display: inline-block;
    margin: 10px;
}

.pics-container {
    margin-left: 207.5px;

}

.mailchimp {
    background-image: url(img/mailchimp.png);
    background-size: 100% 100%;
    background-position: center center;
}

.hoefler-frere {
     background-image: url(img/h_fj.png);
    background-size: 100% 100%;
    background-position: center center;
}

.engineyard {
      background-image: url(img/engine-yard.png);
    background-size: 100% 100%;
    background-position: center center;
}

.etsy {
      background-image: url(img/etsy.png);
    background-size: 100% 100%;
    background-position: center center;
}

.typekit {
      background-image: url(img/typekit.png);
    background-size: 100% 100%;
    background-position: center center;
}

.BRFNY {
  background-image: url(img/blue-ridge.png);
    background-size: 100% 100%;
    background-position: center center;
}

.designerfund {
      background-image: url(img/designerfund.png);
    background-size: 100% 100%;
    background-position: center center;
}

.facebook {
      background-image: url(img/facebook.png);
    background-size: 100% 100%;
    background-position: center center;
}

.dropbox {
      background-image: url(img/dropbox.png);
    background-size: 100% 100%;
    background-position: center center;
}

.end {
    width: 313px;
    height: 46px;
    background: url(img/sprite.png) 0 -90px;
    background-repeat: no-repeat;
    margin: 0 auto;
}


/*RESPONSIVE*/

@media screen and (max-width: 700px) {
 .container p {
    font-size: 16px;
 }

 .section-pic {
    display: none;
 }

 .pics-container {
    margin-left: 0;
 }

 .makesomethingyoulovetext {
    margin: 0;
 }

 .mainlogo {
    width: 30%;
    margin: 0;
 }
}
