/*General*/

* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

a {
    color: white;
    text-decoration: none;
    transition: all .3s ease-in;
}

a:hover {
    color: red;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
::selection{
    background-color: #790707;
}
*/

/*Nav Bar*/

nav {
    background-color: black;
    width: 100%;
}

nav p {
    color: white;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 20px;
    font-size: 25px;
    font-weight: bold;
}

nav .Blogo {
    background:url("img/sprite.png") no-repeat;
    height: 65px;
    width: 40px;
    margin-left: 10px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

nav ul {
    margin-left: 70px;
    margin-top: 10px;
    color: white;
    display: inline-block;
    list-style-type: none;
    line-height: 3em;
    font-size: 14px;
    margin-bottom: 5px;
}

nav ul li {
    font-family: sans-serif;
}

nav .tweeter {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("img/sprite.png");
    background-position:-44px 5px;
    height: 24px;
    width: 30px;
}

/*Title Section*/

.title {
    background: url("img/bg-home.jpg");
    height: 280px;
    border-bottom: 1px solid lightgray;
}

.title figure {
    /*height: 50px;*/
    width: 100%;
    position: relative;
    top: 40px;
}

.title figure img {
    width: 100%;
    height: auto;
}

.title p {
    color: white;
    position: absolute;
    bottom: 300px;
    font-size: 22px;
}

.greenlogo {
    background: url("img/sprite.png") no-repeat -70px 0;
    width: 90px;
    height: 90px;
    position: absolute;
}

.ivoryarrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #F9F5E8;
    position: absolute;
    bottom: 245px;
    left: 10px
}

/*Content*/

.content {
    padding-top: 39px;
    background-color: #F9F5E8;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
    padding-left: 5px;
    position: relative;
}

.content div {
    float: left;
}

.content img {/*
    position: relative;
    right: 0;*/
    /*display: inline-block;*/
    float: right;
    margin-right: 25px;
}

.content h2 {
    font-weight: normal;
    display: block;
}

.content p {
    line-height: 1.4em;
    padding-bottom: 13px;
    font-size: 15px;
    /*display: inline-block;*/
    /*width: 40%;*/
    /*float: left;*/
}

.content a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    font-size: 14px;
    /*display: block;*/
    float: left;
}

/*Lovebox and sponsors*/

.lovebox {
    height: 62px;
    background-color: darkred;
}

.lovebox h3 {
    font-weight: normal;
    text-align: center;
    padding-top: 25px;
    color: white;
    text-shadow: 0 1px black;
}

.lovebox em {
    font-size: 5px;
}

.sponsors {
    width: 100%;
    background: url("img/bg-footer.jpg");
    text-align: center;
}

.sponsors .dropbox {
    margin-left: 25%
}

.bigsponsor {
    height: 5.3%;
    width: 100%;
    background-color: white;
    background-size: 100%;
    display: inline-block;

}

.sponsor img {
    width: 180px;
}

.sponsor {
    text-align: center;
    height: 13%;
    width: 49%;
    float: left;
    margin: 1% .5% 1% .5%;
    background-color: #191512;
    border-radius: 10px;
}

.analogfk {
    width: 345px;
    height: 50px;
    background:url(img/sprite.png) no-repeat 20px -90px;
}

/* Footer */

footer {
    background-color: #1C1B17;
    text-transform: uppercase;
    color: #565959;
    padding: 20px;
    font-size: 10px;
    letter-spacing: 3px;
    text-align: center;
}

/*Responsive Design*/

@media screen and (min-width: 480px) {

    nav ul li {
        display: inline-block;
        padding: 0 10px;
    }

    .title p {
        bottom: 400px;
    }

    .ivoryarrow {
        bottom: 370px;
    }
}

@media screen and (max-width: 780px) {

    .content img {
        display: none;
    }

    .greenlogo {
        display: none;
    }

    .title p {
        margin-top: 100px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 780px) {

    .title {
        padding-bottom: 100px;
    }
    .title p {
        padding-left: 100px;
        margin-top: 50px;
    }
    .ivoryarrow {
        bottom: 270px;
    }

    .content div {
        float: left;
        width: 270px;
    }

}

@media screen and (min-width: 800px) {

}
