/*General*/

* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

::selection{
    background-color: #790707;
}

nav {
    background-color: black;
    width: 100%;
}
nav p {
    color: white;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 20px;
    font-size: 25px;
    font-weight: bold;
}
nav .Blogo {
    background:url("img/sprite.png") no-repeat;
    height: 65px;
    width: 40px;
    margin-left: 10px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

nav ul {
    margin-left: 70px;
    margin-top: 10px;
    color: white;
    display: inline-block;
    list-style-type: none;
    line-height: 3em;
    font-size: 14px;
    margin-bottom: 5px;
}

nav ul li {
    font-family: sans-serif;
}

nav .tweeter {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("img/sprite.png");
    background-position:-44px 5px;
    height: 24px;
    width: 30px;
}

.title {
    background: url("img/bg-home.jpg");
    height: 280px;
    border-bottom: 1px solid lightgray;
}

.title figure {
    /*height: 50px;*/
    width: 100%;
    position: relative;
    top: 50px;
}

.title figure img {
    width: 100%;
    height: auto;
}

.title p {
    color: white;
    position: relative;
    top: 75px;
    font-size: 22px;
    padding-left: 5px;
}
/*
.title .asdf{
    content: "*";
    font-size: 80px;
    border-radius: 100px;
    color: purple;
    background-color: pink;
    width: 100px;
    height: 100px;
    line-height: 125px;
    display: inline-block;
}
*/
.ivoryarrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #F9F5E8;
    position: relative;
    top: 135px;
    left: 10px
}

.content {
    padding-top: 39px;
    background-color: #F9F5E8;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
    padding-left: 5px;
    position: relative;
}

.content img {
    position: absolute;
    right: 0;
    /*top: 5px;*/
    display: inline-block;
}

.content h2 {
    font-weight: normal;
    display: inline;
}

.content p {
    line-height: 1.4em;
    padding-bottom: 13px;
    font-size: 15px;
    display: inline;
}

.content a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    font-size: 14px;
}

.lovebox {
    height: 62px;
    background-color: darkred;
}

.lovebox h3 {
    font-weight: normal;
    text-align: center;
    padding-top: 25px;
    color: white;
    text-shadow: 0 1px black;
}

.lovebox em {
    font-size: 5px;
}

.sponsors {
    width: 100%;
    background: url("img/bg-footer.jpg");
    text-align: center;
}

.sponsors .dropbox {
    margin-left: 25%
}

.bigsponsor {
    height: 5.3%;
    width: 100%;
    background-color: white;
    background-size: 100%;
    display: inline-block;

}

.sponsor img {
    width: 180px;
}

.sponsor {
    text-align: center;
    height: 13%;
    width: 49%;
    float: left;
    margin: 1% .5% 1% .5%;
    background-color: #191512;
    border-radius: 10px;
}

.analogfk {
    width: 345px;
    height: 50px;
    background:url(img/sprite.png) no-repeat 20px -90px;
}

/* Footer */

footer {
    background-color: #1C1B17;
    text-transform: uppercase;
    color: #565959;
    padding: 20px;
    font-size: 10px;
    letter-spacing: 3px;
    text-align: center;
}

/*Responsive Design*/

@media screen and (min-width: 480px) {
    nav ul li {
        display: inline-block;
        padding: 0 10px;
    }
}

@media screen and (max-width: 780px) {
    .content img {
        display: none;
    }
}

@media screen and (min-width: 780px) {

}

