/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

/* NAV BAR */

nav {
    background-color: black;
}

nav ul {
    position: relative;
    padding-left: 55px;
}

nav ul:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    height: 60px;
    width: 44px;
    background: url(img/sprite.png) no-repeat 0 0;
    float: left;
}

li {
    list-style: none;
    display: inline-block;
    color: white;
    padding: 15px 10px;
}

.twitter {
    float: right;
    color: #277C7C;
    padding: 15px;
    text-decoration: none;
    position: relative;
}

.twitter:hover {
    color: white;
}

.twitter:before {
    content: "";
    width: 25px;
    height: 18px;
    background: url(img/sprite.png) no-repeat -45px 0px;
    position: absolute;
    left: -15px;
    top: 15px;
}

.twitter:hover:before {
    background-position: -45px -50px;
}

li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: all .25s ease-in;
}

li a:hover {
    color: #960010;
}

/* HEADER */

header {
    padding-top: 40px;
    background: url("img/bgheader.jpg") 0 0;
    color: white;
}

h1 {
    margin: 0 auto 64px;
    background: url("img/bblogo.png") no-repeat 0 0;
    max-width: 940px;
    height: 136px;
    text-indent: -9999em;
    background-size: 100%;
}

h2:before {
    content: "*";
    top: -10px;
    left: 0;
    background-color: #0F7475;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 125px;
    font-size: 84px;
    border-radius: 100px;
    position: absolute;
    margin-right: 20px;
}

h2 {
    position: relative;
    padding-left: 120px;
    margin-top: 25px;
    margin-left: 5px;
    padding-bottom: 100px;
    font-size: 36px;
    display: inline-block;
    font-weight: normal;
}

/* MAIN SECTION */

.arrow-up {
    position: relative;
    left: 25px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FBF7E7;
}

section {
    background-color: #FBF7E7;
}

article {
    margin: 40px;
    padding: 10px;
    height: 300px;
    border-bottom: 1px solid #DBD9CA;
}

h3 {
    font-size: 40px;
    font-weight: normal;
    margin: 40px 0 10px;
}

strong {
    font-weight: bold;
}

article p {
    margin-bottom: 10px;
    width: 45%;
}

article a {
    font-weight: bold;
    text-decoration: none;
    color: #960010;
}

article a:hover {
    text-decoration: underline;
}

article img {
    float: right;
}

/* MAKE SOMETHING YOU LOVE */

.love {
    text-align: center;
    padding: 20px;
    height: 150px;
    background: linear-gradient(#83000F, #A40013);
    color: #DBD7C8;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #555;
}

h4 {
    font-size: 60px;
    margin-top: 40px;
    display: inline-block;
    position: relative;
    font-weight: normal;
}

.love h4:after {
    content: "";
    width: 20px;
    height: 15px;
    background: url(img/sprite.png) no-repeat -50px -32px;
    position: absolute;
    right: -25px;
    bottom: 5px;
}

/* SPONSORS */

.sponsors {
    background-color: #181818;
    text-align: center;
}

.sponsors div {
    display: inline-block;
}

.sponsors img {
    padding: 20px;
    margin: 7px;
    background: black;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #151512;
    padding: 40px 0;
}

footer .analog {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 115px;
    background: url("img/sprite.png") no-repeat 0 -91px;
}

footer p {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url("img/sprite.png") no-repeat -115px -91px;
}

footer .fictivekin {
    display: inline-block;
    height: 45px;
    width: 155px;
    background: url("img/sprite.png") no-repeat -160px -91px;
}

h6 {
    margin-top: 20px;
    text-transform: uppercase;
    color: #393836;
}


@media screen and (max-width: 760px) {
    .twitter {
        text-indent: -9999em;
    }

    h1 {
        margin-bottom: 20px;
        height: 110px;
    }

    h2:before {
        display: none;
    }

    h2 {
        font-size: 30px;
        padding-bottom: 40px;
        padding-left: 10px;
    }

    li {
        display: block;
    }

    article {
        height: 100%;
        padding-bottom: 20px;
    }

    article img {
        display: none;
    }

    article p {
        width: 100%;
    }

    .love {
        height: 96px;
        padding: 0;
    }

    h4 {
        margin-top: 36px;
        font-size: 24px;
    }

    h4:after {
        display: none;
    }
}
